<h1>New team</h1>

<%= form_with model: @team, url: teams_path(@team), method: :post do |frm| %>

  <div class="field">
    <%= frm.label :logo %>
    <%= frm.file_field :logo %>
  </div>
  <br>
  
  <div class="field"> 
    <%= frm.label :name %>
    <%= frm.text_field :name %>
  </div>
  <br>

  <%= frm.submit %>
  <br>

<% end %>
<br>

<br>

<div>
  <%= link_to "Back to teams", teams_path %>
</div>
