<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to Main Menu", root_path %>
</div>

<h1>Games</h1>

<div id="games">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Team_1</th>
        <th>Team_2</th>
        <th>Starting_at</th>
        <th>Phase</th>
        <th>Score1</th>
        <th>Score2</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= Team.find_by(id:game.team1_id).name %></td>
          <td><%= Team.find_by(id:game.team2_id).name %></td>
          <td><%= game.starting_at %></td>
          <td><%= Phase.find_by(id:game.phases_id).description %></td>
          <td><%= game.team1_score %></td>
          <td><%= game.team2_score %></td>
          <td><%= game.status %></td>
          <td> <button><%= link_to "Edit", edit_game_path(game) %></button></td>
          <td> <%= button_to "Delete", game, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to "New game", new_game_path %>
