<div id="<%= dom_id board %>">
  <p>
    <strong>Team1:</strong>
    <%= board.team1 %>
  </p>

  <p>
    <strong>Team2:</strong>
    <%= board.team2 %>
  </p>

  <p>
    <strong>Score1:</strong>
    <%= board.score1 %>
  </p>

  <p>
    <strong>Score2:</strong>
    <%= board.score2 %>
  </p>

</div>
