<h1>New phase</h1>

<%= form_with model: @phase, url: phases_path(@phase), method: :post do |frm| %>
  
  <div class="field"> 
    <%= frm.label :description %>
    <%= frm.text_field :description %>
  </div>
  <br>

  <%= frm.submit %>
  <br>

<% end %>
<br>

<div>
  <%= link_to "Back to phases", phases_path %>
</div>
