<p style="color: green"><%= notice %></p>

<h1>
  <%= @phase.description %>
</h1>

<div>
  <%= link_to "Edit this phase", edit_phase_path(@phase) %> |
  <%= link_to "Back to phases", phases_path %>
</div>
<br>
<div>
  <%= button_to "Destroy this phase", @phase, method: :delete %>
</div>
